[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
confluent-kafka = "*"
sqlalchemy = "*"
asyncpg = "*"
psycopg2-binary = "*"
premailer = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
